# PRIVATE_KEY dari akun MetaMask kamu (yang punya saldo tBNB)
# Contoh: PRIVATE_KEY=0x123456789abcdef...
PRIVATE_KEY=

# Alamat Smart Contract yang sudah dideploy di Testnet
# Contoh: ZYRA_CONTRACT_ADDRESS=0xABCDEF...
ZYRA_CONTRACT_ADDRESS=
